{% extends 'base.html'%}
{% block content %}

<main>
    <div>
        <!-- <h1>
            idk if nessacary 
        </h1> -->
        <a href=""></a>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">type as fast as you can!</h1>
          
          <p class="lead">{{prompt}}</p>
          
        </div>
      </div>
      <div>
        <form class="form-group" method="POST">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" >
              </div>
            </div>
            <input type="text" class="form-control" name="typed_words" placeholder="type here" onchange="setTimeout(myFunction, 3000)">
        </form>
      </div>

      <input type="text" class="form-control" onchange="setTimeout(myFunction, 3000)">
      <br>
      <button type="button" class="btn btn-primary">Submit</button>
      <button onchange="setTimeout(myFunction, 000)">Try it</button>



</div>
</main>
<script>
    function myFunction() {
      alert('Hello');
    }
    </script>

{% endblock content%}