{% extends 'base.html'%}
{% block content %}

<main>
    <div>
        <!-- <h1>
            idk if nessacary 
        </h1> -->
        <a href=""></a>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">use jinja for text</h1>
          <p class="lead">this is where dynamic content will be displayed</p>
        </div>
      </div>
      <input type="text" class="form-control" placeholder="type here" aria-label="Username" aria-describedby="addon-wrapping">
</div>
</main>

{% endblock content%}